    <h1 style="margin-left: 40%;">EMPLOYEE FORM</h1>
    <form [formGroup]="profiles"  class="container">
        <label for="Name"> Name: </label><br>
        <input id="Name"  type="text" formControlName="Name"><br>
        <div *ngIf="isSubmiutted || profiles.get('Name')!.invalid && profiles.get('Name')!.touched">
            <small class="text danger"   *ngIf="profiles.get('Name')!.errors?.['required']">name is required</small>
            <small class="text danger"   *ngIf="profiles.get('Name')!.errors?.['minlength']">name must be in 4 latters</small>
        </div>
        <div>
            <label for="Mail">Mail:</label><br>
            <input id="Mail" type="text" formControlName="Mail" >
                <div *ngIf="isSubmiutted || profiles.get('Mail')!.invalid && profiles.get('Mail')!.touched">
                    <small class="text danger"  *ngIf="profiles.get('Mail')!.errors?.['required']">Mail is required</small>
                    <small class="text danger" *ngIf="profiles.get('Mail')!.errors?.['minlength']">mail must be in 12 latters</small>
                    <small class="text-danger" *ngIf="profiles.get('Mail')!.errors?.['pattern']">mail must  be in [a-z0-9._%+-]+@[a-z0-9.-] char </small>
                
                </div>
         </div>
         <div>
            <label for="phoneNumber">phoneNumber:</label><br>
            <input id="phoneNumber" type="number" formControlName="Number">
            <div *ngIf=" isSubmiutted || profiles.get('Number')!.invalid && profiles.get('Number')!.touched">
                <small class="text danger" *ngIf="profiles.get('Number')!.errors?.['required']">PhoneNumber is required</small>
                <small class="text danger" *ngIf="profiles.get('Number')!.errors?.['minlength']">PhoneNumber must be in 10 latters</small>
            </div>
        </div>
        <div>
            <label for="password">password:</label><br>
            <input id="password" type="password" formControlName="password">
            <div *ngIf=" isSubmiutted || profiles.get('password')!.invalid && profiles.get('password')!.touched">
                <small class="text danger" *ngIf="profiles.get('password')!.errors?.['required']">password is required</small>
                <small class="text danger" *ngIf="profiles.get('password')!.errors?.['minlength']">password must be in 8 latters</small>
            
            </div>
        </div>
        <div>
            <label for="conformpassword">conform Password:</label><br>
            <input id="conformpassword" type="Conformpassword" formControlName="Conformpassword" (keyup)="changepassword($event)">
            <div *ngIf=" isSubmiutted || profiles.get('Conformpassword')!.invalid && profiles.get('Conformpassword')!.touched">
                <small class="text danger" *ngIf="profiles.get('Conformpassword')!.errors?.['required']">Conformpassword
                     is required</small>
              </div>
              <small class="text danger" *ngIf="passworderror">password doesn't match</small>
        </div><br>
        <canvas  id="random" width="250" height="50">  </canvas>
        <button (click)="reGenCaptcha()">@</button><br>
        <input type="text" placeholder="captcha" formControlName="captcha" (keyup)="captchamatch($event)"><br>
            <div *ngIf="profiles.get('captcha')!.invalid && profiles.get('captcha')!.touched">
                  <small class="text danger" *ngIf="profiles.get('captcha')!.errors?.['required']">captcha is required</small>
            </div>
            <small class="text danger" *ngIf="captchaerror">pls enter currect captcha</small>
            <label>Pre Designation: </label>
        <select formControlName="Dropdown">
            <option value="SelectEmployee">Select Employee</option>
            <option *ngFor="let emp of employee"  value="{{emp.id}}">
                {{emp.employee}}
            </option>
        </select>
        <button type="submit"  (click)="register()" >submit</button>
         <table *ngIf="rows !=undefined && rows != null && rows.length >0">
             <tr>
                 <th *ngFor="let item of header" class="space">
                        {{item}}
                 </th>
             </tr>
             <tr *ngFor="let row of rows;let i=index">
                 <td>
                     {{i+1}}
                 </td>
                 <td>
                     {{row.Name}}
                 </td>
                 <td>
                    {{row.Mail}}
                 </td>
                 <td>
                    {{row.Number}}
                 </td>
                 <td>
                     {{row.Dropdown}}
                 </td>
             </tr>
        </table>
</form>


    
